@media only screen and (max-width: 1100px){
    .side-left{
        display: none;
        opacity: 0;
    }
    .main{
        width: 100% !important;
        margin: 0px !important;
        gap: 300px !important;
    }
    ::-webkit-scrollbar {
        width: 20px;
        margin-right: 50px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        border: 1px solid #89a1b45e;
        border-radius: 3px !important;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #89a1b4 !important;
        border-radius: 3px !important;

    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #89a1b4!important;
    }
    .side-right{
        display: none;
    }
    header{
        justify-content: center;
        margin-top: 0px !important;
    }
    .container-header{
        margin: 0px !important;
        border-bottom: 1px solid #89a1b4;
    }
    .mobile-side{
        display: flex !important;
    }
    .desk-side{
        display: none !important;
    }
    .profile{
        flex-direction: column;
        gap: 5px !important;
    }
    .profile>img {
        width: 40px !important;
        margin-top: 10px;
    }
    .desk{
        display: none !important;
    }
    .mobile{
        display: flex !important;
    }
    .container-video{
        flex-wrap: wrap;
        justify-content: space-around !important;
    }
.box-card-comment{
    flex-wrap: wrap !important;
}
}